<% if(errors != "") {%>
    <% errors.forEach((el) => { %>
        <script>openLoginModal()</script>
        <div class="alert alert-danger"><%- el%></div>
    <% });%>
<% }%>

<% if(success != "") {%>
    <% success.forEach((el) => { %>
        <script>openLoginModal()</script>
        <div class="alert alert-success"><%- el%></div>
    <% });%>
<% }%>